*,
*::after,
*::before {
  padding: 4p;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-size: 18px;
  
  line-height: 36px;
  min-height: 100%;
  background-image: url("https://images.unsplash.com/photo-1461409971633-aa0e46732112?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.item {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  
  text-align: center;
  color: rgb(238, 238, 238);
  flex-wrap: wrap;
}

.item1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.item h1{
  padding: 35% 15px 10% 15px;
}